@import './style-guide.less';


// set default style
html,
body {
    font-family: @font-family;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    // background-color: @color-bg;
}

// grid settings
.layout-container {
    .transition();
    // background: linear-gradient(180deg, @color-top 30%, @color-bg 0, @color-bg 100%);
    background-color: @color-bg;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.background-top {
    content: "";
    height: 250px;
    display: block;
    width: 100%;
    background-color: @color-top;
    top: 0;
}

.content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
}

.container {
    display: grid;
    height: 90%;
    max-height: 100%;
    width: 80%;
    max-width: 80%;
}


// general settings
.up {
    color: @color-up;
}

.down {
    color: @color-down;
}

.facebook {
    border-top: 5px solid @color-facebook;
}

.twitter {
    border-top: 5px solid @color-twitter;
}

.youtube {
    border-top: 5px solid @color-youtube;
}

// instagram
.instagram-border {
    background-image: @color-instagram;
    padding-top: 5px;
    border-radius: 5px 5px 10px 10px;
}

// seperate card to get linear gradient
.instagram-card {
    .transition();
    background-color: @color-card;
    border-radius: 0px 0px 5px 5px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

// card
.card {
    .transition();
    background-color: @color-card;
    border-radius: 5px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



// header
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header-title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header-title {
    font-weight: @font-weight-bold;
    font-size: @font-size-xl;
    color: @color-text-hard;
}

.header-followers {
    font-weight: @font-weight-bold;
    font-size: @font-size-s;
    color: @color-text-easy;
}

.header-mobile-divider {
    display: none;
}

.header-toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-toggle-text {
    font-weight: @font-weight-bold;
    font-size: @font-size-s;
    color: @color-toggle;
    margin-right: 10px;
}

// hide default input
.switch input {
    position: absolute;
    opacity: 0;
}

// style new toggle
.switch {
    display: flex;
    font-size: 20px;
    /* 1 */
    height: 1em;
    width: 2em;
    background: @color-toggle;
    border-radius: 1em;
    align-items: center;
}

// style slider knob
.switch div {
    height: 0.8em;
    width: 0.8em;
    border-radius: 1em;
    background: @color-top;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: translate3d(10%, 0, 0);
    -moz-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
}

// style checked slider position
.switch input:checked+div {
    -webkit-transform: translate3d(140%, 0, 0);
    -moz-transform: translate3d(140%, 0, 0);
    transform: translate3d(140%, 0, 0);
}



// platform
.platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

.platform {
    height: 300px;
    min-height: 300px !important;
    max-height: 300px;
}

.platform-logo-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.platform-user-name {
    margin-left: 10px;
}

.platform-follower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.platform-user-name {
    font-weight: @font-weight-bold;
    font-size: @font-size-s;
    color: @color-text-easy;
}

.platform-follower-count {
    font-weight: @font-weight-bold;
    font-size: @font-size-xxl;
    color: @color-text-hard;
    margin: 0;
}

.platform-follower-count-label {
    text-transform: uppercase;
    font-weight: @font-weight-regular;
    font-size: @font-size-s;
    color: @color-text-easy;
    letter-spacing: 0.3em;
}

.stats-text {
    font-weight: @font-weight-bold;
    font-size: @font-size-xs;
    margin-left: 5px;
}

.stats-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


// overview title
.overview-title-container {
    margin-top: 30px;
    margin-bottom: 10px;
}

.overview-title {
    font-weight: @font-weight-bold;
    font-size: @font-size-l;
    color: @color-text-easy;
}

// overview
.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.stats {
    height: 150px;
    max-height: 150px;
}

.overview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.overview-stats-title {
    font-weight: @font-weight-bold;
    font-size: @font-size-s;
    color: @color-text-easy;
}


.overview-stats-count {
    font-weight: @font-weight-bold;
    font-size: @font-stats-count;
    color: @color-text-hard;
}

// dark theme
.dark {

    .transition();
    // background: linear-gradient(180deg, @color-dark-top 30%, @color-dark-bg 0, @color-dark-bg 100%);
    background-color: @color-dark-bg;

    .background-top {
        .transition();
        background-color: @color-dark-top;
    }

    .header-mobile-divider {
        background-color: @color-dark-text-easy;
    }

    .header-toggle-text {
        color: @color-dark-text-easy;
    }

    .switch {
        background: @color-dark-toggle;
    }

    .switch div {
        background-color: @color-dark-top;
    }

    .header-title {
        color: @color-dark-text-hard;
    }

    .header-followers {
        color: @color-dark-text-easy;
    }

    .card {
        .transition();
        background-color: @color-dark-card;
    }

    .instagram-card {
        .transition();
        background-color: @color-dark-card;
    }

    .platform-user-name {
        color: @color-dark-text-easy;
    }

    .platform-follower-count {
        color: @color-dark-text-hard;
    }

    .overview-title {
        color: @color-dark-text-hard;
    }

    .overview-stats-title {
        color: @color-dark-text-easy;
    }

    .overview-stats-count {
        color: @color-dark-text-hard;
    }
}

.transition {
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}


// mobile layout
@media (max-width: 940px) {

    .header {
        flex-direction: column;
    }

    .header-mobile-divider {
        display: block;
        height: 1px;
        border: none;
        background-color: @color-text-easy;
        width: 70%;
        margin: 20px;
    }

    .header-toggle-container {
        margin-bottom: 20px;
    }

    .platforms {
        flex-direction: column;
    }

    .overview {
        flex-direction: column;
        align-items: center;
    }

    .overview-title-container {
        display: flex;
        justify-content: center;
    }

    .overview-title {
        flex-direction: column;
        align-items: center;
    }

    .container:after {
        content: "";
        display: block;
        height: 50px;
        width: 100%;
    }
}

@media (max-width: 500px) {

    .header-mobile-divider {
        display: block;
        height: 1px;
        border: none;
        background-color: @color-text-easy;
        width: 100%;
        margin: 20px;
    }

    .header-toggle-container {
        margin-bottom: 20px;
        justify-content: space-between;
        width: 100%;
    }
}